/* Hide scrollbar but keep scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.font-shrikhand {
  font-family: 'Shrikhand', cursive;
}
